[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/home/ubuntu/anaconda3/bin/jupyter-notebook --config=/home/ubuntu/.jupyter/jupyter_notebook_config.py --notebook-dir=/home/ubuntu --no-browser
User=ubuntu
Group=ubuntu
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
